@import url("https://fonts.googleapis.com/css?family=Raleway");

body {
  font-family: Raleway;
  margin: 0;
  padding: 0;
}

.bg-primary {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 31%,
    rgba(237, 41, 57, 1) 71%
  );
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  width: auto;
  height: auto;
  opacity: 0.9;
  margin-bottom: 3rem;
  color: white;
}

.navbar h3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  letter-spacing: 6px;
}

.navbar #logo {
  -webkit-box-shadow: 0px 0px 35px 5px rgba(91, 13, 143, 1);
  -moz-box-shadow: 0px 0px 35px 5px rgba(91, 13, 143, 1);
  box-shadow: 0px 0px 35px 5px rgba(91, 13, 143, 1);
  border-radius: 50%;
}

.navbar ul {
  display: flex;
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  align-items: center;
}

.navbar ul li {
  margin: 0 0.7rem;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
}

.navbar ul li .navButtons {
  overflow: hidden;
  border: 6px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-radius: 50px;
  border-color: rgb(120, 31, 179);
  padding: 2px 20px;
}

.navbar ul li .navButtons:hover {
  transform: translate(0, -2px);
  -webkit-box-shadow: 0px 10px 15px -6px rgba(91, 13, 143, 0.25);
  -moz-box-shadow: 0px 10px 15px -6px rgba(91, 13, 143, 0.25);
  box-shadow: 0px 10px 15px -6px rgba(91, 13, 143, 0.25);
}

/* .navbar ul li .navButtons:hover::after {
  transform: rotate(150deg);
}

.navbar ul li .navButtons::after {
  transition: all 0.5s ease;
  width: auto;
  height: auto;
  position: absolute;
  /* top: -50px; */
/* left: -100px;
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 20%,
    ff3cac 50%,
    #c625d0 100%
  );
} */

.cardDiv {
  display: flex;
  justify-content: center;
}

.card {
  width: 40%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 35px -15px rgba(219, 219, 219, 1);
  -moz-box-shadow: 0px 0px 35px -15px rgba(219, 219, 219, 1);
  box-shadow: 0px 0px 35px -15px rgba(219, 219, 219, 1);
}

.inputBoxes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 6px;
}

.card .submitButton {
  display: flex;
  justify-content: flex-end;
  width: auto;
  padding: 0 1rem 1rem 0;
  margin-top: 1rem;
}

.card .submitButton #addtask {
  overflow: hidden;
  background: #e81828;
  color: white;
  border-radius: 50px;
}

.card .submitButton #addtask:hover {
  transform: translate(0, -2px);
  -webkit-box-shadow: 0px 10px 15px -6px rgba(255, 0, 34, 0.7);
  -moz-box-shadow: 0px 10px 15px -6px rgba(255, 0, 34, 0.7);
  box-shadow: 0px 10px 15px -6px rgba(255, 0, 34, 0.7);
}

#tasklist {
  margin: 4rem 0;
}

.cardDiv #cardList {
  width: 80%;
  height: auto;
  align-self: center;
  margin-bottom: 1rem;
}

.cardDiv .card #cardList CardContent #listButtons {
  margin: 0;
}

@media (max-width: 576px) {
  .card {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
